@import "tailwindcss";

.markdown-body table {
  width: 100%;
  border-collapse: collapse;
}

.markdown-body th, .markdown-body td {
  border: 1px solid #ddd;
  padding: 8px;
}

.markdown-body th {
  background-color: #f4f4f4;
  text-align: left;
}
