@import "tailwindcss";

.markdown-body table {
  width: 100%;
  border-collapse: collapse;
}

.markdown-body th, .markdown-body td {
  border: 1px solid #ddd;
  padding: 8px;
}

.markdown-body th {
  background-color: #f4f4f4;
  text-align: left;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}